<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warren.contact.analysis.activity"
    android:versionCode="4"
    android:versionName="0.4" >

    <application
        android:name="com.warren.contact.MainApplication"
        android:icon="@drawable/app"
        android:label="@string/app_name" >
        <activity
            android:name="com.warren.contact.analysis.activity.ContactIndexActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.warren.contact.analysis.activity.SameContactListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.warren.contact.user.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.warren.contact.user.RegisterSuccess"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.warren.contact.analysis.activity.ContactMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.warren.contact.user.UserLoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.warren.contact.update.QRCodeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.warren.contact.user.UserModifyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.warren.contact.analysis.activity.LocationMapActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1104691196" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 微信回调activity -->
        <activity
            android:name="com.warren.contact.analysis.activity.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 添加友盟消息推送 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.warren.contact.analysis.activity.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.warren.contact.analysis.activity.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.warren.contact.analysis.activity.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- 外部依赖配置数据 -->
        <!-- 地理信息更新频率，单位ms -->
        <meta-data
            android:name="LOCATION_MIN_UPDATE_TIME"
            android:value="3600000" >
        </meta-data>
        <!-- 位置信息变更通知的距离，单位米 -->
        <meta-data
            android:name="LOCATION_MIN_DISTANCE_CHANGE"
            android:value="1000" >
        </meta-data>
        <meta-data
            android:name="WEIXIN_APP_ID"
            android:value="wx4781a939b804a2b2" >
        </meta-data>
        <meta-data
            android:name="WEIXIN_APP_KEY"
            android:value="72b68429fa9aad796af1c4c371c827bb" >
        </meta-data>
        <meta-data
            android:name="TENCENT_APP_ID"
            android:value="1104691196" >
        </meta-data>
        <meta-data
            android:name="TENCENT_APP_KEY"
            android:value="a0VXyodT8rrSrjXX" >
        </meta-data>
        <meta-data
            android:name="SINA_APP_ID"
            android:value="339526677" >
        </meta-data>
        <meta-data
            android:name="SINA_APP_KEY"
            android:value="5ce01fc7e9052857bf2419879d91741e" >
        </meta-data>
        <meta-data
            android:name="CONTACT_SERVER"
            android:value="http://xunpeng.pub" >
        </meta-data>
        <meta-data
            android:name="CONTACT_APP_LOGO"
            android:value="logo.png" >
        </meta-data>
        <meta-data
            android:name="CONTACT_APP_NAME"
            android:value="寻朋吧" >
        </meta-data>
        <meta-data
            android:name="CONTACT_APP_DECLARATION"
            android:value="寻朋吧-发现朋友圈千丝万缕的关系!" >
        </meta-data>
        <meta-data
            android:name="CONTACNT_APP_URL"
            android:value="http://a.app.qq.com/o/simple.jsp?pkgname=com.warren.contact.analysis.activity" >
        </meta-data>
        <meta-data
            android:name="VERSION_FILE"
            android:value="version.xml" >
        </meta-data>

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5575092567e58e8adc002b18" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9add639c2ccfb018c802d18f34deebf2" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xunpeng" />
        <!-- ###################添加高德Appkey###################### -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="821db738e50cdb8b2bb6b4ed5ad8ca63" />
    </application>

    <uses-sdk android:minSdkVersion="8" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 友盟消息 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>